n8n/01_import_countries.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "return $input.first().json.response.map(item => ({ json: item }));"
      },
      "id": "1cbc993e-5755-43f7-993c-b72ad422bf00",
      "name": "Länder aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 224]
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/countries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6345fe97-9d3b-4a0e-90cb-e5536990cb65",
      "name": "Football API – Länder abrufen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 224],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"countries imported\" }",
        "options": {}
      },
      "id": "2040c225-5a66-4746-a254-b8a55704d070",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [224, 224]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-countries",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ea77837d-bb7c-40ba-bead-849aa95d90b9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 224],
      "webhookId": "import-countries"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO countries (name, code, flag_url)\nVALUES ($1, $2, $3)\nON CONFLICT (name) DO UPDATE SET\n  code     = EXCLUDED.code,\n  flag_url = EXCLUDED.flag_url",
        "options": {
          "queryReplacement": "={{ [$json.name, $json.code, $json.flag] }}"
        }
      },
      "id": "f90f4aec-02ff-44fe-8d4b-ba1306b61703",
      "name": "INSERT countries2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [0, 224],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Länder aufteilen": {
      "main": [
        [
          {
            "node": "INSERT countries2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Football API – Länder abrufen1": {
      "main": [
        [
          {
            "node": "Länder aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Football API – Länder abrufen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT countries2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
