n8n/01_import_countries.json
{
  "name": "01 – Import Countries (einmalig)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "import-countries",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "import-countries"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Football API – Länder abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://v3.football.api-sports.io/countries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "football-api-key",
          "name": "Football API Key"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Länder aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "return $input.first().json.response.map(item => ({ json: item }));"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "INSERT countries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO countries (name, code, flag_url)\nVALUES ($1, $2, $3)\nON CONFLICT (name) DO UPDATE SET\n  code     = EXCLUDED.code,\n  flag_url = EXCLUDED.flag_url",
        "additionalFields": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.name, $json.code || null, $json.flag || null] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-liveticker",
          "name": "Liveticker DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"countries imported\" }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Football API – Länder abrufen", "type": "main", "index": 0 }]]
    },
    "Football API – Länder abrufen": {
      "main": [[{ "node": "Länder aufteilen", "type": "main", "index": 0 }]]
    },
    "Länder aufteilen": {
      "main": [[{ "node": "INSERT countries", "type": "main", "index": 0 }]]
    },
    "INSERT countries": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "football-import" }]
}
