n8n/02_import_teams_by_country.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-teams-by-country",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b65af5d0-05d8-4e79-85bb-961a58f5faf2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "import-teams-by-country"
    },
    {
      "parameters": {
        "url": "=https://v3.football.api-sports.io/leagues?country={{ $json.body.country }}&season={{ Math.min(parseInt($json.body.season) || 2025, 2025) }}&type=League",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ed121005-32b8-4e4d-a1e2-d64943b730bf",
      "name": "Football API – Ligen des Landes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [176, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leagues = $input.first().json.response;\nif (!leagues || leagues.length === 0) return [];\nconst top = leagues[0];\nconst country = $('Webhook').first().json.body.country;\nconst season = Math.min(parseInt($('Webhook').first().json.body.season) || 2025, 2025);\nreturn [{ json: { league_id: top.league.id, league_name: top.league.name, country, season } }];\n"
      },
      "id": "3871929b-5962-434f-a57c-85d100965ea0",
      "name": "Erste Liga extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "url": "=https://v3.football.api-sports.io/teams?league={{ $json.league_id }}&season={{ $json.season }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6c39e192-dae9-4fa8-aacc-7e8ef6b087a0",
      "name": "Football API – Teams der Liga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [624, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.response.map(item => ({ json: item }));"
      },
      "id": "037b2f85-5a86-4e17-9554-d98180da9690",
      "name": "Extrahiere response[]1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"country\": \"{{ $('Webhook1').first().json.body.country }}\" }",
        "options": {}
      },
      "id": "e5f0e7bf-0192-4917-84f2-5577dd9b4ba7",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1296, 0],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO teams (uid, external_id, sport, name, initials, logo_url, is_partner_team, hidden, position, country_id)\nVALUES (gen_random_uuid(), $1, $2, $3, $4, $5, false, false, 0, (SELECT id FROM countries WHERE name = $6))\nON CONFLICT (external_id) DO UPDATE SET\n  name       = EXCLUDED.name,\n  initials   = EXCLUDED.initials,\n  logo_url   = EXCLUDED.logo_url,\n  country_id = EXCLUDED.country_id",
        "options": {
          "queryReplacement": "={{ [$json.team.id, 'football', $json.team.name, $json.team.code, $json.team.logo, $json.team.country] }}"
        }
      },
      "id": "2f483407-1ca4-4e65-acb9-ba638b0cf904",
      "name": "INSERT teams1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1056, 0],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Football API – Ligen des Landes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Football API – Ligen des Landes": {
      "main": [
        [
          {
            "node": "Erste Liga extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erste Liga extrahieren": {
      "main": [
        [
          {
            "node": "Football API – Teams der Liga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Football API – Teams der Liga": {
      "main": [
        [
          {
            "node": "Extrahiere response[]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahiere response[]1": {
      "main": [
        [
          {
            "node": "INSERT teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT teams1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
