n8n/03_import_competitions_and_matches.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-competitions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3242abf9-4e4e-471c-a5c8-d39f82cfaaaa",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-1040, 96],
      "webhookId": "import-competitions",
      "notes": "Body: { teamId, season } – z.B. { teamId: 529, season: 2025 }"
    },
    {
      "parameters": {
        "url": "=https://v3.football.api-sports.io/leagues?team={{ $json.teamId }}&season=2025",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a48426a3-2c98-41bd-96a9-e241b54f28b2",
      "name": "API: Ligen abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 96],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "teamId",
              "value": "={{ $json.body.teamId }}",
              "type": "number"
            },
            {
              "id": "2",
              "name": "season",
              "value": "={{ $json.body.season || 2025 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f790cef9-00a6-47f5-9d2c-895c1b126c05",
      "name": "Variablen setzen4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-672, 96]
    },
    {
      "parameters": {
        "jsCode": "const teamId = $('Variablen setzen4').first().json.teamId;\nconst season = $('Variablen setzen4').first().json.season;\nreturn $input.first().json.response.map(item => ({\n  json: {\n    league_id: item.league.id,\n    league_name: item.league.name,\n    league_logo: item.league.logo,\n    season,\n    teamId\n  }\n}));"
      },
      "id": "db4551da-5fb8-4e76-8c2a-b776f7bdc7d4",
      "name": "Leagues aufteilen4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 96]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"teamId\": {{ $('Variablen setzen4').first().json.teamId }} }",
        "options": {}
      },
      "id": "0025fce3-3a01-4e7a-9e52-ed313c50f059",
      "name": "Respond to Webhook4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [224, 96]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO competitions (uid, external_id, sport, title, logo_url, hidden, position)\nVALUES (gen_random_uuid(), $1, 'football', $2, $3, false, 1)\nON CONFLICT (external_id) DO UPDATE SET\n  title    = EXCLUDED.title,\n  logo_url = EXCLUDED.logo_url",
        "options": {
          "queryReplacement": "={{ [$json.league_id, $json.league_name, $json.league_logo || null] }}"
        }
      },
      "id": "eb05357e-52ef-4d49-856c-00b798447884",
      "name": "UPSERT Competitions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [0, -64],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH s AS (\n  INSERT INTO seasons (external_id, sport, title)\n  VALUES ($1, 'football', $4)\n  ON CONFLICT (external_id) DO UPDATE SET title = EXCLUDED.title\n  RETURNING id\n)\nINSERT INTO competition_teams (uid, season_id, competition_id, team_id, created_at)\nVALUES (\n  gen_random_uuid(),\n  (SELECT id FROM s),\n  (SELECT id FROM competitions WHERE external_id = $2),\n  (SELECT id FROM teams WHERE external_id = $3),\n  now()\n)\nON CONFLICT (season_id, competition_id, team_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [2025, $json.league_id, $json.teamId, '2024/2025'] }}"
        }
      },
      "id": "08e2bb6f-ba8a-4d3c-a5c9-18e8d37985ff",
      "name": "UPSERT Competition Teams",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-16, 272],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Variablen setzen4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Ligen abrufen": {
      "main": [
        [
          {
            "node": "Leagues aufteilen4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variablen setzen4": {
      "main": [
        [
          {
            "node": "API: Ligen abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leagues aufteilen4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPSERT Competitions",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPSERT Competition Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
