n8n/07_import_prematch.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-prematch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9ed69e75-d3a6-4d19-8d10-715ab8c88a1b",
      "name": "Webhook import-prematch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-176, -160],
      "webhookId": "4b5c6d7e-0007-0007-0007-000000000001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  m.external_id as fixture_id,\n  c.external_id as league_id,\n  s.external_id as season,\n  ht.external_id as home_team_external_id,\n  at.external_id as away_team_external_id\nFROM matches m\nLEFT JOIN competitions c ON c.id = m.competition_id\nLEFT JOIN seasons s ON s.id = m.season_id\nJOIN teams ht ON ht.id = m.home_team_id\nJOIN teams at ON at.id = m.away_team_id\nWHERE m.external_id = $1",
        "options": {
          "queryReplacement": "={{ [$('Webhook import-prematch').first().json.body.fixture_id] }}"
        }
      },
      "id": "4782595a-f9d2-42d6-a9e6-6fdcd1ced3d7",
      "name": "SQL: Match-Daten laden",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [272, -160],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/injuries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $('Webhook import-prematch').first().json.body.fixture_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e71f3b4-6239-49a7-8949-6d0cdbd4d233",
      "name": "API: Injuries abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [624, -544],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/headtohead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "h2h",
              "value": "={{ $json.home_team_external_id }}-{{ $json.away_team_external_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1fe6eea-5a42-4e7f-b2c4-05faed695612",
      "name": "API: Events abrufen7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [624, -336],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams/statistics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "league",
              "value": "={{ $json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $json.season ?? 2025 }}"
            },
            {
              "name": "team",
              "value": "={{ $json.home_team_external_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e802f0f-9abf-40f8-bb6a-f4d78e7cd4c3",
      "name": "API: team/statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [624, -160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/teams/statistics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "league",
              "value": "={{ $json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $json.season ?? 2025 }}"
            },
            {
              "name": "team",
              "value": "={{ $json.away_team_external_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31444343-f462-450a-915f-e8c5496911ab",
      "name": "API: team/statistics1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 32],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/standings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "league",
              "value": "={{ $json.league_id }}"
            },
            {
              "name": "season",
              "value": "={{ $json.season ?? 2025 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec23730a-36c2-4363-8c2e-cbd86ac34945",
      "name": "API: Standings1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 256],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.response;\nconst fixtureId = $('Webhook import-prematch').first().json.body.fixture_id;\n\nconst grouped = {};\nfor (const entry of items) {\n  const teamId = entry.team.id;\n  if (!grouped[teamId]) grouped[teamId] = { team_id: teamId, team_name: entry.team.name, players: [] };\n  grouped[teamId].players.push({ player_id: entry.player.id, player_name: entry.player.name, type: entry.player.type, reason: entry.player.reason });\n}\n\nreturn Object.values(grouped).map(team => ({ json: { fixture_id: fixtureId, ...team } }));"
      },
      "id": "ef82d9e6-6010-4ff4-97c1-17a4762c8f25",
      "name": "Injuries extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, -544]
    },
    {
      "parameters": {
        "jsCode": "const fixtures = $input.first().json.response;\nconst fixtureId = $('Webhook import-prematch').first().json.body.fixture_id;\n\nconst last5 = fixtures\n  .filter(f => f.fixture.status.short === 'FT')\n  .sort((a, b) => new Date(b.fixture.date) - new Date(a.fixture.date))\n  .slice(0, 5);\n\nreturn [{ json: { fixture_id: fixtureId, matches: last5.map(f => ({\n  fixture_id: f.fixture.id, date: f.fixture.date,\n  home_team: f.teams.home.name, home_team_id: f.teams.home.id,\n  away_team: f.teams.away.name, away_team_id: f.teams.away.id,\n  goals_home: f.goals.home, goals_away: f.goals.away,\n  winner: f.teams.home.winner ? f.teams.home.name : f.teams.away.winner ? f.teams.away.name : 'draw'\n})) } }];"
      },
      "id": "a377dcb3-9518-410d-9a28-f64f735f8a3c",
      "name": "H2H extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, -336]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.response;\nconst fixtureId = $('Webhook import-prematch').first().json.body.fixture_id;\nreturn [{ json: { fixture_id: fixtureId, team_id: data.team.id, team_name: data.team.name, league_id: data.league.id, season: data.league.season, form: data.form, played_home: data.fixtures.played.home, played_away: data.fixtures.played.away, wins_total: data.fixtures.wins.total, draws_total: data.fixtures.draws.total, loses_total: data.fixtures.loses.total, goals_for_avg: data.goals.for.average.total, goals_against_avg: data.goals.against.average.total, clean_sheets: data.clean_sheet.total, failed_to_score: data.failed_to_score.total, biggest_win_streak: data.biggest.streak.wins, most_used_formation: data.lineups[0]?.formation ?? null, penalty_scored: data.penalty.scored.total, penalty_missed: data.penalty.missed.total } }];"
      },
      "id": "c31a8498-8d1e-4dcf-a390-5b4b34f0d9e9",
      "name": "teams/statistics extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, -160]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.response;\nconst fixtureId = $('Webhook import-prematch').first().json.body.fixture_id;\nreturn [{ json: { fixture_id: fixtureId, team_id: data.team.id, team_name: data.team.name, league_id: data.league.id, season: data.league.season, form: data.form, played_home: data.fixtures.played.home, played_away: data.fixtures.played.away, wins_total: data.fixtures.wins.total, draws_total: data.fixtures.draws.total, loses_total: data.fixtures.loses.total, goals_for_avg: data.goals.for.average.total, goals_against_avg: data.goals.against.average.total, clean_sheets: data.clean_sheet.total, failed_to_score: data.failed_to_score.total, biggest_win_streak: data.biggest.streak.wins, most_used_formation: data.lineups[0]?.formation ?? null, penalty_scored: data.penalty.scored.total, penalty_missed: data.penalty.missed.total } }];"
      },
      "id": "14301731-e742-4851-8bdb-6a51f2adf962",
      "name": "teams/statistics extrahieren1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 32]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.response[0].league;\nconst standings = data.standings[0];\nconst matchData = $('SQL: Match-Daten laden').first().json;\nconst homeId = parseInt(matchData.home_team_external_id);\nconst awayId = parseInt(matchData.away_team_external_id);\n\nreturn [{ json: { fixture_id: matchData.fixture_id, league_id: data.id, league_name: data.name, season: data.season, standings: standings.filter(t => t.team.id === homeId || t.team.id === awayId).map(t => ({ rank: t.rank, team_id: t.team.id, team_name: t.team.name, points: t.points, played: t.all.played, wins: t.all.win, draws: t.all.draw, losses: t.all.lose, goals_for: t.all.goals.for, goals_against: t.all.goals.against, form: t.form })) } }];"
      },
      "id": "9ad9ac3e-fce3-44ed-95c2-36eadf2a9d5e",
      "name": "Standings extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 256]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO synthetic_events (match_id, type, data)\n  VALUES ((SELECT id FROM matches WHERE external_id = $1), $2, $3::jsonb)\n  ON CONFLICT (match_id, type) DO UPDATE SET data = EXCLUDED.data\n  RETURNING id\n)\nSELECT ins.id FROM ins\nLEFT JOIN ticker_entries te ON te.synthetic_event_id = ins.id AND te.status != 'rejected'\nWHERE te.id IS NULL\n",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id, 'pre_match_injuries_' + $json.team_id, JSON.stringify($json)] }}"
        }
      },
      "id": "402827fa-fcc7-48a5-aed7-d212ca057535",
      "name": "Insert Events2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, -544],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO synthetic_events (match_id, type, data)\n  VALUES ((SELECT id FROM matches WHERE external_id = $1), $2, $3::jsonb)\n  ON CONFLICT (match_id, type) DO UPDATE SET data = EXCLUDED.data\n  RETURNING id\n)\nSELECT ins.id FROM ins\nLEFT JOIN ticker_entries te ON te.synthetic_event_id = ins.id AND te.status != 'rejected'\nWHERE te.id IS NULL\n",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id, 'pre_match_h2h', JSON.stringify($json)] }}"
        }
      },
      "id": "7cef270c-01a5-458d-869a-828c0d949dc0",
      "name": "Insert Events3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, -336],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO synthetic_events (match_id, type, data)\n  VALUES ((SELECT id FROM matches WHERE external_id = $1), $2, $3::jsonb)\n  ON CONFLICT (match_id, type) DO UPDATE SET data = EXCLUDED.data\n  RETURNING id\n)\nSELECT ins.id FROM ins\nLEFT JOIN ticker_entries te ON te.synthetic_event_id = ins.id AND te.status != 'rejected'\nWHERE te.id IS NULL\n",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id, 'pre_match_team_stats_home', JSON.stringify($json)] }}"
        }
      },
      "id": "041187e5-3c89-4c9a-bead-9693fecc20e6",
      "name": "Insert teams/statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, -160],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO synthetic_events (match_id, type, data)\n  VALUES ((SELECT id FROM matches WHERE external_id = $1), $2, $3::jsonb)\n  ON CONFLICT (match_id, type) DO UPDATE SET data = EXCLUDED.data\n  RETURNING id\n)\nSELECT ins.id FROM ins\nLEFT JOIN ticker_entries te ON te.synthetic_event_id = ins.id AND te.status != 'rejected'\nWHERE te.id IS NULL\n",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id, 'pre_match_team_stats_away', JSON.stringify($json)] }}"
        }
      },
      "id": "62be7f9f-00ba-43b3-b4b3-0ce32bb94126",
      "name": "Insert teams/statistics1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, 32],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO synthetic_events (match_id, type, data)\n  VALUES ((SELECT id FROM matches WHERE external_id = $1), $2, $3::jsonb)\n  ON CONFLICT (match_id, type) DO UPDATE SET data = EXCLUDED.data\n  RETURNING id\n)\nSELECT ins.id FROM ins\nLEFT JOIN ticker_entries te ON te.synthetic_event_id = ins.id AND te.status != 'rejected'\nWHERE te.id IS NULL\n",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id, 'pre_match_standings', JSON.stringify($json)] }}"
        }
      },
      "id": "9fb565a9-6a07-4dc5-8cbf-a84e351e95a6",
      "name": "Insert Standings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, 256],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "a200da77-37f9-473e-88ea-93c68d8713fa",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1856, -240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2519fccc-2cb1-4a81-84aa-2bf3509b960f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "exists",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c22c34ef-2d66-4f13-a151-6de4064eb448",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [2128, -176]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"fixture_id\": {{ $('Webhook import-prematch').first().json.body.fixture_id }} }",
        "options": {}
      },
      "id": "7abea9c7-b675-478e-a9d3-d1a9d5d2bf5e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2352, -176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/ticker/generate-synthetic",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ synthetic_event_id: $json.id, style: 'neutral', instance: $('Webhook import-prematch').first().json.body.instance || 'generic', auto_publish: $('Webhook import-prematch').first().json.body.ticker_mode === 'auto' }) }}\n",
        "options": {}
      },
      "id": "831fb574-3444-4197-b9c6-e801816911c1",
      "name": "LLM Trigger Node1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2432, -400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o9sSk9ZOxtD4rV7z",
          "name": "Header Auth account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook import-prematch": {
      "main": [
        [
          {
            "node": "API: Injuries abrufen",
            "type": "main",
            "index": 0
          },
          {
            "node": "SQL: Match-Daten laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Match-Daten laden": {
      "main": [
        [
          {
            "node": "API: team/statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: team/statistics1",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Events abrufen7",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Standings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Injuries abrufen": {
      "main": [
        [
          {
            "node": "Injuries extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Events abrufen7": {
      "main": [
        [
          {
            "node": "H2H extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: team/statistics": {
      "main": [
        [
          {
            "node": "teams/statistics extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: team/statistics1": {
      "main": [
        [
          {
            "node": "teams/statistics extrahieren1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Standings1": {
      "main": [
        [
          {
            "node": "Standings extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Injuries extrahieren": {
      "main": [
        [
          {
            "node": "Insert Events2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "H2H extrahieren": {
      "main": [
        [
          {
            "node": "Insert Events3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "teams/statistics extrahieren": {
      "main": [
        [
          {
            "node": "Insert teams/statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "teams/statistics extrahieren1": {
      "main": [
        [
          {
            "node": "Insert teams/statistics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standings extrahieren": {
      "main": [
        [
          {
            "node": "Insert Standings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Events2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Events3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert teams/statistics": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Insert teams/statistics1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Insert Standings": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Trigger Node1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
