n8n/09_events_llm_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://profis.eintracht.de/page-data/kader/page-data.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "fc82cfd7-c90e-4c2e-9ce1-2c02f2fe8ef9",
      "name": "Fetch Kader page-data"
    },
    {
      "parameters": {
        "jsCode": "const players = $input.first().json?.result?.data?.squad?.data?.players;\n\nif (!players?.length) {\n  throw new Error('Keine Spieler gefunden');\n}\n\nreturn players.map(p => {\n  const id = p.person?.id;\n  const lastName = p.person?.last_name;\n  const firstName = p.person?.first_name;\n  const jerseyNumber = p.person?.jersey_number;\n  const slug = p.person?.slug;\n\n  if (!id) return null;\n\n  // ID → S3-Pfad: '492931' → '000/492/931'\n  const padded = id.padStart(9, '0');\n  const s3path = `${padded.slice(0,3)}/${padded.slice(3,6)}/${padded.slice(6,9)}`;\n\n  // Avatar: Originalname mit Umlaut, URL-encoded (Götze → G%C3%B6tze)\n  const avatarName = encodeURIComponent(lastName.split(/[\\s-]/)[0]);\n\n  // Video: Normalisierter Name ohne Umlaut (Götze → Gotze, Chaïbi → Chaibi)\n  const videoName = lastName\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .split(/[\\s-]/)[0];\n\n  const avatarUrl = `https://liveticker-eintracht-de.s3.eu-central-1.amazonaws.com/people/liveticker_avatars/${s3path}/large/${avatarName}.png`;\n\n  const videoUrl = jerseyNumber\n    ? `https://liveticker-eintracht-de.s3.eu-central-1.amazonaws.com/people/liveticker_videos/${s3path}/original/Torschuetze_${String(jerseyNumber).padStart(2, '0')}_${videoName}_HD_1.mp4`\n    : null;\n\n  return {\n    json: {\n      id,\n      slug,\n      first_name: firstName,\n      last_name: lastName,\n      jersey_number: jerseyNumber,\n      position: p.person?.position,\n      avatar_url: avatarUrl,\n      video_url: videoUrl\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "59e074bb-8bf9-4b29-bc99-9dbe7c807cf0",
      "name": "Spieler + URLs extrahieren"
    },
    {
      "parameters": {
        "jsCode": "// Für jeden Spieler: SQL-Upsert generieren\n// Matched über last_name + jersey_number (kein external_id von EF-Website)\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return `'${String(val).replace(/'/g, \"''\")}'`;\n}\nfunction num(val) {\n  return (val === null || val === undefined) ? 'NULL' : val;\n}\n\nreturn $input.all().map(item => {\n  const p = item.json;\n  const query = `\n    UPDATE players\n    SET\n      image_url  = ${esc(p.avatar_url)},\n      video_url  = ${esc(p.video_url)},\n      updated_at = NOW()\n    WHERE\n      jersey_number = ${num(p.jersey_number)}\n      AND team_id IN (\n        SELECT id FROM teams WHERE name ILIKE '%Frankfurt%'\n      )\n    RETURNING id, display_name, jersey_number, video_url\n  `.trim();\n  return { json: { query, player: p.last_name } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "e4dc3ba9-7d2d-4cbf-bd10-5dda69e261d4",
      "name": "Upsert-Query bauen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        0
      ],
      "id": "8c816809-e591-4605-a9df-abba48bc2fd7",
      "name": "DB: Spieler updaten",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Events",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        688
      ],
      "id": "8ee6d58a-061a-4d4a-a0cc-6db7aafbce18",
      "name": "Webhook Events2",
      "webhookId": "6188adc1-362c-45e1-9e8a-abd1889bbe3b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  CASE WHEN (ht.name ILIKE '%Frankfurt%' OR at.name ILIKE '%Frankfurt%')\n       THEN 'ef_whitelabel' ELSE 'generic' END AS instance,\n  CASE WHEN (ht.name ILIKE '%Frankfurt%' OR at.name ILIKE '%Frankfurt%')\n       THEN 'euphorisch' ELSE 'neutral' END AS style,\n  m.id AS match_id,\n  m.ticker_mode\nFROM matches m\nJOIN teams ht ON ht.id = m.home_team_id\nJOIN teams at ON at.id = m.away_team_id\nWHERE m.external_id = {{ $json.body.fixture_id }}::integer\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        688
      ],
      "id": "9a6364a6-d789-4bfa-abd1-5096eaebee97",
      "name": "DB: Match-Instanz1",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $('Webhook Events2').first().json.body.fixture_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        688
      ],
      "id": "af4cd463-6470-4413-81f6-86e783c04fa7",
      "name": "API: Events abrufen3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.flatMap(item => {\n  if (!item.json.response) return [];\n  const fixtureId = item.json.parameters?.fixture;\n\n  return item.json.response.map(event => ({\n    json: {\n      fixture_id:       fixtureId,\n      minute:           event.time.elapsed,\n      extra_time:       event.time.extra || null,\n      team_external_id: event.team.id,\n      team_name:        event.team?.name || null,\n      player_id:        event.player?.id || null,\n      player_name:      event.player?.name || null,\n      assist_id:        event.assist?.id || null,\n      assist_name:      event.assist?.name || null,\n      type:             event.type,\n      detail:           event.detail,\n      comments:         event.comments || null\n    }\n  }));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        688
      ],
      "id": "6fcf67aa-622f-4dcb-bb84-15aac8dd88d9",
      "name": "Events extrahieren2"
    },
    {
      "parameters": {
        "jsCode": "const TYPE_MAP = {\n  'Goal':  'goal',\n  'Card':  'yellow_card',\n  'subst': 'substitution',\n  'Var':   'comment',\n  'Miss':  'missed_penalty',\n};\n\nfunction normalizeType(type, detail) {\n  if (type === 'Card') {\n    const d = (detail || '').toLowerCase();\n    if (d.includes('red')) return 'red_card';\n    return 'yellow_card';\n  }\n  if (type === 'Goal') {\n    const d = (detail || '').toLowerCase();\n    if (d.includes('own')) return 'own_goal';\n    return 'goal';\n  }\n  return TYPE_MAP[type] || 'comment';\n}\n\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return `'${String(val).replace(/'/g, \"''\")}'`;\n}\n\nfunction num(val) {\n  return (val === null || val === undefined) ? 'NULL' : val;\n}\n\nreturn $input.all().map(item => {\n  const e = item.json;\n  const eventType = normalizeType(e.type, e.detail);\n  const sourceId = `apifootball_${e.fixture_id}_${e.minute}_${e.type}_${e.player_id ?? 'x'}`;\n  const description = JSON.stringify({\n    player_id:   e.player_id,\n    player_name: e.player_name,\n    assist_id:   e.assist_id,\n    assist_name: e.assist_name,\n    team_id:     e.team_external_id,\n    team_name:   e.team_name,\n    type:        e.type,\n    detail:      e.detail,\n    comments:    e.comments,\n  });\n  const query = `\n    INSERT INTO events (\n      match_id, time, time_additional,\n      event_type, description, source, source_id, position\n    )\n    VALUES (\n      (SELECT id FROM matches WHERE external_id = ${num(e.fixture_id)}::integer),\n      ${num(e.minute)},\n      ${num(e.extra_time)},\n      ${esc(eventType)},\n      ${esc(description)},\n      'api_football',\n      ${esc(sourceId)},\n      ${num(e.minute)}\n    )\n    ON CONFLICT (source_id) WHERE source_id IS NOT NULL\n    DO NOTHING\n    RETURNING id, event_type, time, description\n  `.trim();\n  return { json: { query, fixture_id: e.fixture_id } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        688
      ],
      "id": "887202e2-7bc2-48f5-b08a-002ae50ff022",
      "name": "Events Insert - Code Node2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        688
      ],
      "id": "6805bfd4-e000-4872-9344-61683d658c02",
      "name": "Insert Events3",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "63a0b1bf-cb83-4e1c-9b3a-e1e1a15e9da9",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1232,
        688
      ],
      "id": "fb1757a2-24f4-4824-bb5d-9bac4b09acdc",
      "name": "Filter2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://liveticker-backend.onrender.com/api/v1/ticker/generate/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"style\": \"{{ $('DB: Match-Instanz1').first().json.style || 'neutral' }}\",\n  \"instance\": \"{{ $('DB: Match-Instanz1').first().json.instance || 'generic' }}\",\n  \"language\": \"{{ $('Webhook Events2').first().json.body.language || 'de' }}\",\n  \"auto_publish\": {{ $('DB: Match-Instanz1').first().json.ticker_mode === 'auto' }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        688
      ],
      "id": "a07d784c-6dbc-4210-8682-57051577a0ae",
      "name": "LLM Trigger Node2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "goal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002",
              "leftValue": "={{ $('DB: Match-Instanz1').first().json.instance }}",
              "rightValue": "ef_whitelabel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1232,
        928
      ],
      "id": "f1eb0520-c0fd-4b10-86ba-1f7efb073bf3",
      "name": "Nur EF-Tore"
    },
    {
      "parameters": {
        "jsCode": "function esc(v) {\n  return `'${String(v).replace(/'/g, \"''\")}'`;\n}\n\nreturn $input.all().flatMap(item => {\n  const e = item.json;\n  const desc = typeof e.description === 'string'\n    ? JSON.parse(e.description)\n    : (e.description ?? {});\n\n  const teamName = (desc.team_name || '').toLowerCase();\n  if (!teamName.includes('frankfurt')) return [];\n\n  const playerName = desc.player_name;\n  if (!playerName) return [];\n\n  const parts = playerName.trim().split(/\\s+/);\n  const lastName = parts[parts.length - 1];\n  const eventTime = e.time ?? null;\n\n  const query = `\n    SELECT video_url, display_name, ${eventTime !== null ? eventTime : 'NULL'} AS event_time\n    FROM players\n    WHERE video_url IS NOT NULL\n      AND team_id IN (SELECT id FROM teams WHERE name ILIKE '%Frankfurt%')\n      AND (\n        display_name ILIKE ${esc('%' + lastName + '%')}\n        OR display_name ILIKE ${esc('%' + playerName + '%')}\n      )\n    LIMIT 1\n  `.trim();\n\n  return [{ json: { query, player_name: playerName, event_id: e.id, event_time: eventTime } }];\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        928
      ],
      "id": "fe70e3cf-f2df-444a-b94c-62f6bcd235f1",
      "name": "Video-Query bauen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        928
      ],
      "id": "41d027bc-8585-4de6-8a18-65115210d5d8",
      "name": "DB: Torschützen-Video",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2000,
        928
      ],
      "id": "1938393b-31b0-4fba-808b-970cfe584918",
      "name": "Hat Video?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/ticker/manual",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"match_id\": {{ $('DB: Match-Instanz1').first().json.match_id }},\n  \"text\": \"\",\n  \"icon\": \"🎬\",\n  \"minute\": {{ $json.event_time ?? 'null' }},\n  \"video_url\": \"{{ $json.video_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        928
      ],
      "id": "c1009dfc-11d8-4b6a-843d-12aa303b15ea",
      "name": "Torjubel-Ticker posten",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "video-coop-001",
              "leftValue": "={{ $('DB: Match-Instanz1').first().json.ticker_mode }}",
              "rightValue": "auto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2480,
        928
      ],
      "id": "3f96f417-efe1-4b30-9385-4a966e3617b3",
      "name": "Video CO-OP?",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://liveticker-backend.onrender.com/api/v1/ticker/{{ $('Torjubel-Ticker posten').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"draft\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        928
      ],
      "id": "db7b611b-7533-48bc-b596-1dc4f0f3f025",
      "name": "Set Video Draft",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "video-auto-001",
              "leftValue": "={{ $('DB: Match-Instanz1').first().json.ticker_mode }}",
              "rightValue": "auto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2496,
        1072
      ],
      "id": "e15e958b-7371-4bad-906d-aeded4b4014b",
      "name": "Video AUTO?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://liveticker-backend.onrender.com/api/v1/ticker/{{ $('Torjubel-Ticker posten1').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        1072
      ],
      "id": "03a2961d-5d6f-4994-b5d5-62dfe34ec2fb",
      "name": "Video AUTO publishen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/ticker/manual",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"match_id\": {{ $('DB: Match-Instanz1').first().json.match_id }},\n  \"text\": \"\",\n  \"icon\": \"🎬\",\n  \"minute\": {{ $json.event_time ?? 'null' }},\n  \"video_url\": \"{{ $json.video_url }}\",\n  \"status\": \"draft\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1072
      ],
      "id": "196683e4-2ed2-4930-aae8-172dab31889f",
      "name": "Torjubel-Ticker posten1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH match_teams AS (\n  SELECT m.id, m.home_team_id, m.away_team_id,\n    ht.external_id AS home_ext,\n    at.external_id AS away_ext\n  FROM matches m\n  JOIN teams ht ON ht.id = m.home_team_id\n  JOIN teams at ON at.id = m.away_team_id\n  WHERE m.id = $1\n),\nscores AS (\n  SELECT\n    COALESCE(SUM(CASE\n      WHEN (e.event_type = 'goal' OR e.event_type = 'own_goal')\n           AND (e.description::jsonb->>'team_id')::integer = mt.home_ext THEN 1\n      ELSE 0 END), 0) AS home_score,\n    COALESCE(SUM(CASE\n      WHEN (e.event_type = 'goal' OR e.event_type = 'own_goal')\n           AND (e.description::jsonb->>'team_id')::integer = mt.away_ext THEN 1\n      ELSE 0 END), 0) AS away_score\n  FROM events e, match_teams mt\n  WHERE e.match_id = mt.id\n    AND e.event_type IN ('goal', 'own_goal')\n)\nUPDATE matches SET\n  home_score = (SELECT home_score FROM scores),\n  away_score = (SELECT away_score FROM scores)\nWHERE id = $1\nRETURNING id, home_score, away_score",
        "options": {
          "queryReplacement": "={{ [$('DB: Match-Instanz1').first().json.match_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        480
      ],
      "id": "b2c4e6f8-a1d3-4c5e-8b7a-9f0e1d2c3b4a",
      "name": "Update Match Score",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Fetch Kader page-data": {
      "main": [
        [
          {
            "node": "Spieler + URLs extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spieler + URLs extrahieren": {
      "main": [
        [
          {
            "node": "Upsert-Query bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert-Query bauen": {
      "main": [
        [
          {
            "node": "DB: Spieler updaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Events2": {
      "main": [
        [
          {
            "node": "DB: Match-Instanz1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Match-Instanz1": {
      "main": [
        [
          {
            "node": "API: Events abrufen3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Events abrufen3": {
      "main": [
        [
          {
            "node": "Events extrahieren2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events extrahieren2": {
      "main": [
        [
          {
            "node": "Events Insert - Code Node2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events Insert - Code Node2": {
      "main": [
        [
          {
            "node": "Insert Events3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Events3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nur EF-Tore",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Match Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "LLM Trigger Node2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur EF-Tore": {
      "main": [
        [
          {
            "node": "Video-Query bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video-Query bauen": {
      "main": [
        [
          {
            "node": "DB: Torschützen-Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Torschützen-Video": {
      "main": [
        [
          {
            "node": "Hat Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Video?": {
      "main": [
        [
          {
            "node": "Torjubel-Ticker posten1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torjubel-Ticker posten": {
      "main": [
        [
          {
            "node": "Video CO-OP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video CO-OP?": {
      "main": [
        [
          {
            "node": "Set Video Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video AUTO?": {
      "main": [
        [
          {
            "node": "Video AUTO publishen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torjubel-Ticker posten1": {
      "main": [
        [
          {
            "node": "Video AUTO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}