n8n/09_events_llm_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Events",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [208, 8928],
      "id": "6195805f-8c6b-4a2b-8063-0df7a1401c3e",
      "name": "Webhook Events8",
      "webhookId": "6188adc1-362c-45e1-9e8a-abd1889bbe3b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id AS match_id,\n  COALESCE($2, m.ticker_mode) AS ticker_mode,\n  CASE WHEN (ht.name ILIKE '%Frankfurt%' OR at.name ILIKE '%Frankfurt%')\n       THEN 'ef_whitelabel' ELSE 'generic' END AS instance,\n  CASE WHEN (ht.name ILIKE '%Frankfurt%' OR at.name ILIKE '%Frankfurt%')\n       THEN 'euphorisch' ELSE 'neutral' END AS style,\n  CASE WHEN ht.name ILIKE '%Frankfurt%' THEN ht.name\n       WHEN at.name ILIKE '%Frankfurt%' THEN at.name\n       ELSE NULL END AS fan_team\nFROM matches m\nJOIN teams ht ON ht.id = m.home_team_id\nJOIN teams at ON at.id = m.away_team_id\nWHERE m.external_id = $1\nLIMIT 1\n",
        "options": {
          "queryReplacement": "={{ $json.body.fixture_id + ',' + ($json.body.ticker_mode ?? '') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [464, 8928],
      "id": "5b970751-3f43-43d8-9754-7cfde23f3906",
      "name": "DB: Match-Instanz7",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "={{ $('Webhook Events8').first().json.body.fixture_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 8928],
      "id": "74243257-59aa-4a40-8b56-6df1e80c3ccd",
      "name": "API: Events abrufen9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.flatMap(item => {\n  if (!item.json.response) return [];\n  const fixtureId = item.json.parameters?.fixture;\n\n  return item.json.response\n    .filter(event => (event.time?.elapsed ?? 0) >= 0)\n    .map(event => ({\n      json: {\n        fixture_id:       fixtureId,\n        minute:           event.time.elapsed,\n        extra_time:       event.time.extra || null,\n        team_external_id: event.team.id,\n        team_name:        event.team?.name || null,\n        player_id:        event.player?.id || null,\n        player_name:      event.player?.name || null,\n        assist_id:        event.assist?.id || null,\n        assist_name:      event.assist?.name || null,\n        type:             event.type,\n        detail:           event.detail,\n        comments:         event.comments || null\n      }\n    }));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [944, 8928],
      "id": "88e997da-f159-42e1-b529-83e5c31be470",
      "name": "Events extrahieren8"
    },
    {
      "parameters": {
        "jsCode": "// ── Hilfsfunktionen ─────────────────────────────────────\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return `'${String(val).replace(/'/g, \"''\")}'`;\n}\nfunction num(val) {\n  return (val === null || val === undefined) ? 'NULL' : val;\n}\nfunction getIcon(eventType) {\n  const icons = {\n    'goal':             '⚽',\n    'own_goal':         '🙈',\n    'yellow_card':      '🟨',\n    'red_card':         '🟥',\n    'yellow_red_card':  '🟨🟥',\n    'substitution':     '🔄',\n    'penalty_won':      '🎯',\n    'penalty_cancelled':'❌',\n    'goal_cancelled':   '🚫',\n    'var_red_card':     '📺🟥',\n    'missed_penalty':   '❌',\n    'comment':          '💬',\n  };\n  return icons[eventType] || '📋';\n}\nfunction normalizeType(type, detail) {\n  if (type === 'Card') {\n    const d = (detail || '').toLowerCase();\n    if (d.includes('red')) return 'red_card';\n    return 'yellow_card';\n  }\n  if (type === 'Goal') {\n    const d = (detail || '').toLowerCase();\n    if (d.includes('own')) return 'own_goal';\n    return 'goal';\n  }\n  if (type === 'Var') {\n    const d = (detail || '').toLowerCase();\n    if (d.includes('penalty confirmed'))  return 'penalty_won';\n    if (d.includes('penalty cancelled')) return 'penalty_cancelled';\n    if (d.includes('goal cancelled'))    return 'goal_cancelled';\n    if (d.includes('red card'))          return 'var_red_card';\n    return 'comment';\n  }\n  const TYPE_MAP = { 'subst': 'substitution', 'Miss': 'missed_penalty' };\n  return TYPE_MAP[type] || 'comment';\n}\n\n// ── Schritt 1: Gelb-Rot erkennen ────────────────────────\nconst cardGroups = new Map();\nconst allItems = $input.all();\n\nallItems.forEach((item, idx) => {\n  const e = item.json;\n  if (e.type !== 'Card') return;\n  const key = `${e.fixture_id}_${e.minute}_${e.player_id ?? 'x'}`;\n  if (!cardGroups.has(key)) cardGroups.set(key, []);\n  cardGroups.get(key).push({ ...e, _idx: idx });\n});\n\nconst yellowRedKeys = new Set();\nconst skipIdxs = new Set();\n\nfor (const [key, events] of cardGroups) {\n  const hasYellow = events.some(e => (e.detail || '').toLowerCase().includes('yellow'));\n  const hasRed    = events.some(e => (e.detail || '').toLowerCase().includes('red'));\n  if (hasYellow && hasRed) {\n    yellowRedKeys.add(key);\n    events.forEach(e => skipIdxs.add(e._idx));\n  }\n}\n\n// ── Schritt 2: Normale Events ────────────────────────────\nconst result = [];\n\nallItems.forEach((item, idx) => {\n  const e = item.json;\n  if (skipIdxs.has(idx)) return;\n\n  const eventType = normalizeType(e.type, e.detail);\n  const sourceId  = `apifootball_${e.fixture_id}_${e.minute}_${e.type}_${(e.detail||'').replace(/\\s+/g,'_')}_${e.player_id ?? 'x'}`;\n  const description = JSON.stringify({\n    player_id:   e.player_id,\n    player_name: e.player_name,\n    assist_id:   e.assist_id,\n    assist_name: e.assist_name,\n    team_id:     e.team_external_id,\n    team_name:   e.team_name,\n    type:        e.type,\n    detail:      e.detail,\n    comments:    e.comments,\n    icon:        getIcon(eventType),\n  });\n\n  const query = `\n    INSERT INTO events (\n      match_id, time, time_additional,\n      event_type, description, source, source_id, position\n    )\n    VALUES (\n      (SELECT id FROM matches WHERE external_id = ${num(e.fixture_id)}::integer),\n      ${num(e.minute)},\n      ${num(e.extra_time)},\n      ${esc(eventType)},\n      ${esc(description)},\n      'api_football',\n      ${esc(sourceId)},\n      ${num(e.minute)}\n    )\n    ON CONFLICT (source_id) WHERE source_id IS NOT NULL\n    DO UPDATE SET source = EXCLUDED.source\n    RETURNING id, event_type, time, description, (xmax = 0) AS is_new\n  `.trim();\n\n  result.push({ json: { query, fixture_id: e.fixture_id } });\n});\n\n// ── Schritt 3: Gelb-Rot-Events ───────────────────────────\nfor (const [key, events] of cardGroups) {\n  if (!yellowRedKeys.has(key)) continue;\n\n  const base = events[0];\n  const sourceId = `apifootball_${base.fixture_id}_${base.minute}_yellowred_${base.player_id ?? 'x'}`;\n  const description = JSON.stringify({\n    player_id:   base.player_id,\n    player_name: base.player_name,\n    assist_id:   null,\n    assist_name: null,\n    team_id:     base.team_external_id,\n    team_name:   base.team_name,\n    type:        'Card',\n    detail:      'Yellow Red Card',\n    comments:    base.comments,\n    icon:        '🟨🟥',\n  });\n\n  const query = `\n    WITH cleanup AS (\n      DELETE FROM events\n      WHERE match_id = (SELECT id FROM matches WHERE external_id = ${num(base.fixture_id)}::integer)\n        AND source = 'api_football'\n        AND time = ${num(base.minute)}\n        AND event_type IN ('yellow_card', 'red_card')\n        AND (description::jsonb->>'player_id')::integer = ${num(base.player_id)}\n    )\n    INSERT INTO events (\n      match_id, time, time_additional,\n      event_type, description, source, source_id, position\n    )\n    VALUES (\n      (SELECT id FROM matches WHERE external_id = ${num(base.fixture_id)}::integer),\n      ${num(base.minute)},\n      ${num(base.extra_time)},\n      'yellow_red_card',\n      ${esc(description)},\n      'api_football',\n      ${esc(sourceId)},\n      ${num(base.minute)}\n    )\n    ON CONFLICT (source_id) WHERE source_id IS NOT NULL\n    DO UPDATE SET source = EXCLUDED.source\n    RETURNING id, event_type, time, description, (xmax = 0) AS is_new\n  `.trim();\n\n  result.push({ json: { query, fixture_id: base.fixture_id } });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1168, 8928],
      "id": "35a32c50-d2d4-4f8e-ba99-303777e0aa15",
      "name": "Events Insert - Code Node7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, 8928],
      "id": "87c321de-9c93-44d0-8223-4720450e6445",
      "name": "Insert Events9",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter5-id-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "filter5-is-new",
              "leftValue": "={{ $json.is_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1808, 8608],
      "id": "b2a7a648-28e3-4693-aa19-a3b36c179664",
      "name": "Filter7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://liveticker-backend.onrender.com/api/v1/ticker/generate/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"style\": \"{{ $('DB: Match-Instanz7').first().json.style || 'neutral' }}\",\n  \"instance\": \"{{ $('DB: Match-Instanz7').first().json.instance || 'generic' }}\",\n  \"language\": \"{{ $('Webhook Events8').first().json.body.language || 'de' }}\",\n  \"auto_publish\": {{ $('DB: Match-Instanz7').first().json.ticker_mode === 'auto' }},\n  \"fan_team\": \"{{ $('DB: Match-Instanz7').first().json.fan_team || '' }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2144, 8592],
      "id": "1dcc8aa2-1b7c-492e-a90b-d2e9f0419caf",
      "name": "LLM Trigger Node8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Webhook Events8').first().json.body.fixture_id }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1776, 8384],
      "id": "1ab1db0f-49c8-45c6-bdda-7b712f49821f",
      "name": "API: Score abrufen1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE matches SET\n  home_score = $2,\n  away_score = $3\nWHERE id = $1\nRETURNING id, home_score, away_score",
        "options": {
          "queryReplacement": "={{ $('DB: Match-Instanz7').first().json.match_id + ',' + ($json.response[0].goals.home ?? 0) + ',' + ($json.response[0].goals.away ?? 0) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2032, 8368],
      "id": "e2b78eb4-a9df-49db-b5a0-1137c66b5d21",
      "name": "Update Match Score2",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef-tor-id-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ef-tor-is-new",
              "leftValue": "={{ $json.is_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "goal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002",
              "leftValue": "={{ $('DB: Match-Instanz7').first().json.instance }}",
              "rightValue": "ef_whitelabel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1728, 9216],
      "id": "8addff39-1b1d-4933-b232-602bb0bb3649",
      "name": "Nur EF-Tore6"
    },
    {
      "parameters": {
        "jsCode": "function esc(v) {\n  return `'${String(v).replace(/'/g, \"''\")}'`;\n}\n\nreturn $input.all().flatMap(item => {\n  const e = item.json;\n  const desc = typeof e.description === 'string'\n    ? JSON.parse(e.description)\n    : (e.description ?? {});\n\n  const teamName = (desc.team_name || '').toLowerCase();\n  if (!teamName.includes('frankfurt')) return [];\n\n  const playerName = desc.player_name;\n  if (!playerName) return [];\n\n  const parts = playerName.trim().split(/\\s+/);\n  const lastName = parts[parts.length - 1];\n  const eventTime = e.time ?? null;\n\n  const query = `\n    SELECT video_url, display_name, ${eventTime !== null ? eventTime : 'NULL'} AS event_time\n    FROM players\n    WHERE video_url IS NOT NULL\n      AND team_id IN (SELECT id FROM teams WHERE name ILIKE '%Frankfurt%')\n      AND (\n        display_name ILIKE ${esc('%' + lastName + '%')}\n        OR display_name ILIKE ${esc('%' + playerName + '%')}\n      )\n    LIMIT 1\n  `.trim();\n\n  return [{ json: { query, player_name: playerName, event_id: e.id, event_time: eventTime } }];\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1952, 9216],
      "id": "9dd8fef1-c2a5-4247-8196-4e6f4ed2331a",
      "name": "Video-Query bauen6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2176, 9216],
      "id": "613bd381-9c31-4854-a73f-22482700e124",
      "name": "DB: Torschützen-Video6",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [2400, 9216],
      "id": "a0c55c85-b820-4df8-b231-1e94793818db",
      "name": "Hat Video?6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/ticker/manual",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"match_id\": {{ $('DB: Match-Instanz7').first().json.match_id }},\n  \"event_id\": {{ $('Video-Query bauen6').item.json.event_id }},\n  \"text\": \"\",\n  \"icon\": \"🎬\",\n  \"minute\": {{ $('Video-Query bauen6').item.json.event_time ?? 'null' }},\n  \"video_url\": \"{{ $('Hat Video?6').item.json.video_url }}\",\n  \"instance\": \"{{ $('DB: Match-Instanz7').first().json.instance }}\",\n  \"status\": \"{{ $('DB: Match-Instanz7').first().json.ticker_mode === 'auto' ? 'published' : 'draft' }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 9216],
      "id": "6ae189bf-e143-4766-8ab7-c1aff3c26f13",
      "name": "Torjubel-Ticker posten11",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "video-auto-001",
              "leftValue": "={{ $('DB: Match-Instanz7').first().json.ticker_mode }}",
              "rightValue": "auto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [2928, 9216],
      "id": "1b3a432f-10bc-4c73-a4a9-3c029d1e9b24",
      "name": "Video AUTO?6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://liveticker-backend.onrender.com/api/v1/ticker/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"status\": \"{{ $('DB: Match-Instanz7').first().json.ticker_mode === 'auto' ? 'published' : 'draft' }}\",\n  \"video_url\": \"{{ $('Hat Video?6').item.json.video_url }}\",\n  \"icon\": \"🎬\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3072, 9216],
      "id": "af24e86b-7baf-4f18-8ece-9ea3d11123ce",
      "name": "Video AUTO publishen6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM ticker_entries \nWHERE event_id = {{ $('Video-Query bauen6').item.json.event_id }} \nORDER BY created_at DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2560, 9392],
      "id": "154e76ae-2fe7-4884-bdf2-b503b293455e",
      "name": "DB: Torschützen-Video8",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.match_phase, m.external_id,\n  (SELECT COUNT(*) FROM ticker_entries\n   WHERE match_id = m.id AND phase = 'PenaltyShootout' AND source = 'manual') AS has_penalty_ticker\nFROM matches WHERE id = $1",
        "options": {
          "queryReplacement": "={{ [$('DB: Match-Instanz7').first().json.match_id] }}"
        }
      },
      "id": "pen09-sql-check",
      "name": "SQL: Penalty prüfen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1616, 9600],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pen09-phase-check",
              "leftValue": "={{ $json.match_phase }}",
              "rightValue": "PenaltyShootout",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "pen09-no-ticker",
              "leftValue": "={{ $json.has_penalty_ticker }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pen09-filter",
      "name": "Filter: Penalty fehlt noch?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1840, 9600]
    },
    {
      "parameters": {
        "url": "=https://v3.football.api-sports.io/fixtures?id={{ $json.external_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "pen09-api",
      "name": "API: Penalty-Score9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2064, 9600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fixture = $json.response?.[0];\nif (!fixture) return [];\n\nconst penHome = fixture.score?.penalty?.home ?? null;\nconst penAway = fixture.score?.penalty?.away ?? null;\nif (penHome === null || penAway === null) return [];\n\nconst matchId = $('DB: Match-Instanz7').first().json.match_id;\nconst instance = $('DB: Match-Instanz7').first().json.instance || 'generic';\nconst tickerMode = $('DB: Match-Instanz7').first().json.ticker_mode ?? 'coop';\nconst homeTeamName = fixture.teams?.home?.name ?? 'Heim';\nconst awayTeamName = fixture.teams?.away?.name ?? 'Gast';\nconst winner = penHome > penAway ? homeTeamName : awayTeamName;\n\nreturn [{ json: {\n  match_id: matchId,\n  penalty_home: penHome,\n  penalty_away: penAway,\n  instance,\n  ticker_mode: tickerMode,\n  text: `🥅 Elferschießen: ${winner} gewinnt ${penHome}:${penAway} n.E.`\n} }];"
      },
      "id": "pen09-code",
      "name": "Penalty-Daten aufbereiten9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2288, 9600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE matches SET penalty_home_score = $1, penalty_away_score = $2 WHERE id = $3",
        "options": {
          "queryReplacement": "={{ [$json.penalty_home, $json.penalty_away, $json.match_id] }}"
        }
      },
      "id": "pen09-sql-update",
      "name": "SQL: Penalty-Score updaten9",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2512, 9600],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/ticker/manual",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"match_id\": {{ $('Penalty-Daten aufbereiten9').first().json.match_id }},\n  \"text\": \"{{ $('Penalty-Daten aufbereiten9').first().json.text }}\",\n  \"icon\": \"🥅\",\n  \"minute\": 121,\n  \"phase\": \"PenaltyShootout\",\n  \"instance\": \"{{ $('Penalty-Daten aufbereiten9').first().json.instance }}\",\n  \"status\": \"{{ $('Penalty-Daten aufbereiten9').first().json.ticker_mode === 'auto' ? 'published' : 'draft' }}\"\n}",
        "options": {}
      },
      "id": "pen09-http",
      "name": "Penalty-Ticker posten9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2736, 9600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Events8": {
      "main": [
        [
          {
            "node": "DB: Match-Instanz7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Match-Instanz7": {
      "main": [
        [
          {
            "node": "API: Events abrufen9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Events abrufen9": {
      "main": [
        [
          {
            "node": "Events extrahieren8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events extrahieren8": {
      "main": [
        [
          {
            "node": "Events Insert - Code Node7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events Insert - Code Node7": {
      "main": [
        [
          {
            "node": "Insert Events9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Events9": {
      "main": [
        [
          {
            "node": "Filter7",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Score abrufen1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nur EF-Tore6",
            "type": "main",
            "index": 0
          },
          {
            "node": "SQL: Penalty prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter7": {
      "main": [
        [
          {
            "node": "LLM Trigger Node8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Score abrufen1": {
      "main": [
        [
          {
            "node": "Update Match Score2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur EF-Tore6": {
      "main": [
        [
          {
            "node": "Video-Query bauen6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video-Query bauen6": {
      "main": [
        [
          {
            "node": "DB: Torschützen-Video6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Torschützen-Video6": {
      "main": [
        [
          {
            "node": "Hat Video?6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Video?6": {
      "main": [
        [
          {
            "node": "DB: Torschützen-Video8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Torschützen-Video8": {
      "main": [
        [
          {
            "node": "Torjubel-Ticker posten11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torjubel-Ticker posten11": {
      "main": [
        [
          {
            "node": "Video AUTO?6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video AUTO?6": {
      "main": [
        [
          {
            "node": "Video AUTO publishen6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Penalty prüfen": {
      "main": [
        [
          {
            "node": "Filter: Penalty fehlt noch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Penalty fehlt noch?": {
      "main": [
        [
          {
            "node": "API: Penalty-Score9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Penalty-Score9": {
      "main": [
        [
          {
            "node": "Penalty-Daten aufbereiten9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Penalty-Daten aufbereiten9": {
      "main": [
        [
          {
            "node": "SQL: Penalty-Score updaten9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Penalty-Score updaten9": {
      "main": [
        [
          {
            "node": "Penalty-Ticker posten9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
