n8n/10_kader_sync_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "b1c2d3e4-f5a6-7890-bcde-f12345678901",
      "name": "Täglich 06:00"
    },
    {
      "parameters": {
        "url": "https://profis.eintracht.de/page-data/kader/page-data.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [256, 0],
      "id": "07a318ba-3b13-4d39-9014-f03ed05557c8",
      "name": "Fetch Kader page-data"
    },
    {
      "parameters": {
        "jsCode": "const players = $input.first().json?.result?.data?.squad?.data?.players;\n\nif (!players?.length) {\n  throw new Error('Keine Spieler gefunden');\n}\n\nreturn players.map(p => {\n  const id = p.person?.id;\n  const lastName = p.person?.last_name;\n  const firstName = p.person?.first_name;\n  const jerseyNumber = p.person?.jersey_number;\n  const slug = p.person?.slug;\n\n  if (!id) return null;\n\n  // ID → S3-Pfad: '492931' → '000/492/931'\n  const padded = id.padStart(9, '0');\n  const s3path = `${padded.slice(0,3)}/${padded.slice(3,6)}/${padded.slice(6,9)}`;\n\n  // Avatar: Originalname mit Umlaut, URL-encoded (Götze → G%C3%B6tze)\n  const avatarName = encodeURIComponent(lastName.split(/[\\s-]/)[0]);\n\n  // Video: Normalisierter Name ohne Umlaut (Götze → Gotze, Chaïbi → Chaibi)\n  const videoName = lastName\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .split(/[\\s-]/)[0];\n\n  const avatarUrl = `https://liveticker-eintracht-de.s3.eu-central-1.amazonaws.com/people/liveticker_avatars/${s3path}/large/${avatarName}.png`;\n\n  const videoUrl = jerseyNumber\n    ? `https://liveticker-eintracht-de.s3.eu-central-1.amazonaws.com/people/liveticker_videos/${s3path}/original/Torschuetze_${String(jerseyNumber).padStart(2, '0')}_${videoName}_HD_1.mp4`\n    : null;\n\n  return {\n    json: {\n      id,\n      slug,\n      first_name: firstName,\n      last_name: lastName,\n      jersey_number: jerseyNumber,\n      position: p.person?.position,\n      avatar_url: avatarUrl,\n      video_url: videoUrl\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 0],
      "id": "7fbda341-05c2-44c8-b8cc-a3c5ec470d5e",
      "name": "Spieler + URLs extrahieren"
    },
    {
      "parameters": {
        "jsCode": "// Für jeden Spieler: SQL-Upsert generieren\n// Matched über last_name + jersey_number (kein external_id von EF-Website)\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return `'${String(val).replace(/'/g, \"''\")}'`;\n}\nfunction num(val) {\n  return (val === null || val === undefined) ? 'NULL' : val;\n}\n\nreturn $input.all().map(item => {\n  const p = item.json;\n  const query = `\n    UPDATE players\n    SET\n      image_url  = ${esc(p.avatar_url)},\n      video_url  = ${esc(p.video_url)},\n      updated_at = NOW()\n    WHERE\n      jersey_number = ${num(p.jersey_number)}\n      AND team_id IN (\n        SELECT id FROM teams WHERE name ILIKE '%Frankfurt%'\n      )\n    RETURNING id, display_name, jersey_number, video_url\n  `.trim();\n  return { json: { query, player: p.last_name } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Upsert-Query bauen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1024, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "DB: Spieler updaten",
      "credentials": {
        "postgres": { "id": "DpV9uZoIFOsBDj7t", "name": "Postgres account" }
      }
    }
  ],
  "connections": {
    "Täglich 06:00": {
      "main": [[{ "node": "Fetch Kader page-data", "type": "main", "index": 0 }]]
    },
    "Fetch Kader page-data": {
      "main": [[{ "node": "Spieler + URLs extrahieren", "type": "main", "index": 0 }]]
    },
    "Spieler + URLs extrahieren": {
      "main": [[{ "node": "Upsert-Query bauen", "type": "main", "index": 0 }]]
    },
    "Upsert-Query bauen": {
      "main": [[{ "node": "DB: Spieler updaten", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
