n8n/10_Twitter.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d76610a7-a103-4dfd-b40d-dec3caa8a9f4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-384, 256],
      "id": "fefbedbe-476f-43ba-b069-d8396f90d2fa",
      "name": "Webhook",
      "webhookId": "d76610a7-a103-4dfd-b40d-dec3caa8a9f4"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/lZvLBu1ZjWfBSCCE.xml",
        "options": {}
      },
      "id": "5eddfad8-f6a3-4d74-8a6d-402e763ad49c",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-96, 256]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  const link = data.link ?? data.url ?? '';\n  \n  const vidMatch = link.match(/status\\/(\\d+)/);\n  const vid = vidMatch ? vidMatch[1] : null;\n\n  const content = data.content ?? data['content:encoded'] ?? '';\n  const imgMatch = content.match(/src=\"(https:\\/\\/pbs\\.twimg\\.com\\/[^\"]+)\"/);\n  const thumbnail_url = imgMatch ? imgMatch[1] : null;\n\n  return {\n    json: {\n      vid: vid ?? data.guid ?? link,\n      title: data.title ?? data.contentSnippet ?? '',\n      video_url: link,\n      thumbnail_url,\n    }\n  };\n}).filter(item => item.json.vid);"
      },
      "id": "ca7a24ec-f3ce-44aa-9918-ab9d647c1173",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, 256]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO media_clips (vid, title, video_url, thumbnail_url, source, team_name, published)\nVALUES ($1, $2, $3, $4, 'twitter', 'Eintracht Frankfurt', false)\nON CONFLICT (vid) WHERE vid IS NOT NULL DO UPDATE SET\n  title         = EXCLUDED.title,\n  video_url     = EXCLUDED.video_url,\n  thumbnail_url = EXCLUDED.thumbnail_url\nRETURNING vid, thumbnail_url;\n",
        "options": {
          "queryReplacement": "={{ [$json.vid, $json.title, $json.video_url, $json.thumbnail_url] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [336, 256],
      "id": "01768d1a-0313-4889-b0cc-9252f0050fe7",
      "name": "Postgres Upsert",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/clips/cache-thumbnail",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vid: $json.vid, thumbnail_url: $json.thumbnail_url }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 256],
      "id": "f8127fe0-1486-49fe-a3e7-944887db18c7",
      "name": "Cache Thumbnail"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [832, 256],
      "id": "a5eabbc7-445d-469e-8a14-0f56fca635cb",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert": {
      "main": [
        [
          {
            "node": "Cache Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Thumbnail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
