n8n/12_insta.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "149b541b-34f0-44f8-b3ce-c66bd3d75714",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [16, 32],
      "id": "394a69b4-ad20-4413-b910-28c7c4a16106",
      "name": "Webhook",
      "webhookId": "149b541b-34f0-44f8-b3ce-c66bd3d75714"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1376, 32],
      "id": "af82b3c1-22be-4c94-b571-3da5d3b979c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO media_clips (vid, title, video_url, thumbnail_url, source, team_name, published)\nVALUES ($1, $2, $3, $4, 'instagram', 'Eintracht Frankfurt', false)\nON CONFLICT (vid) WHERE vid IS NOT NULL DO UPDATE SET\n  title         = EXCLUDED.title,\n  video_url     = EXCLUDED.video_url,\n  thumbnail_url = EXCLUDED.thumbnail_url\nRETURNING vid, thumbnail_url;",
        "options": {
          "queryReplacement": "={{ [$json.vid, $json.title, $json.video_url, $json.thumbnail_url] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [800, 32],
      "id": "e8d8d7ba-c645-4ca4-b5c0-388bf9aeada6",
      "name": "Postgres Upsert",
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/tvYAvLGMK7gc4S0o.xml",
        "options": {}
      },
      "id": "ac6298c4-6247-4130-be64-53772cfa4532",
      "name": "RSS Feed Read2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [384, 32]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  const link = data.link ?? data.url ?? '';\n  const vidMatch = link.match(/\\/p\\/([A-Za-z0-9_-]+)/);\n  const vid = vidMatch ? vidMatch[1] : null;\n\n  const content = data.content ?? data['content:encoded'] ?? '';\n  // Bild-Post: <img src=\"...\">  /  Video-Post (Reel): <video poster=\"...\">\n  const imgMatch = content.match(/src=\"([^\"]+)\"/) ?? content.match(/poster=\"([^\"]+)\"/);\n  const thumbnail_url = imgMatch ? imgMatch[1] : null;\n\n  return {\n    json: {\n      vid: vid ?? link,\n      title: data.title ?? '',\n      video_url: link,\n      thumbnail_url: thumbnail_url ?? null,\n    }\n  };\n}).filter(item => item.json.vid);"
      },
      "id": "d4c01f9e-6fb6-4ed5-ae9c-d01caab8f98e",
      "name": "Extract Data2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [592, 32]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liveticker-backend.onrender.com/api/v1/clips/cache-thumbnail",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vid: $json.vid, thumbnail_url: $json.thumbnail_url }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1024, 32],
      "id": "de43ab59-7e3f-450d-9229-43e6e3949da2",
      "name": "Cache Thumbnail1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "RSS Feed Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert": {
      "main": [
        [
          {
            "node": "Cache Thumbnail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read2": {
      "main": [
        [
          {
            "node": "Extract Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data2": {
      "main": [
        [
          {
            "node": "Postgres Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Thumbnail1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
