n8n/16_aktuelle_minute_livespiel.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-minute",
        "options": {}
      },
      "id": "4b460019-d243-46e5-bb5d-03d5d1544ff2",
      "name": "Webhook update-minute1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "822d8552-ec7a-4bb5-b340-3750ca858e30"
    },
    {
      "parameters": {
        "url": "=https://v3.football.api-sports.io/fixtures?id={{ $json.body.fixture_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c0fb5214-a55e-499f-a8a8-fcd6b597f7bd",
      "name": "GET Fixture1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nw1wvLZ4u2BCZRVl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fixture = $json.response?.[0];\nif (!fixture) return [];\n\nconst phaseMap = {\n  '1H': 'FirstHalf',\n  'HT': 'FirstHalfBreak',\n  '2H': 'SecondHalf',\n  'ET': 'ExtraFirstHalf',\n  'BT': 'ExtraBreak',\n  'P':  'PenaltyShootout',\n  'FT': 'FullTime',\n  'AET': 'ExtraSecondHalf',\n  'PEN': 'PenaltyShootout',\n};\n\nconst stateMap = {\n  '1H': 'Live', 'HT': 'Live', '2H': 'Live',\n  'ET': 'Live', 'BT': 'Live', 'P': 'Live',\n  'FT': 'FullTime', 'AET': 'FullTime', 'PEN': 'FullTime',\n};\n\nconst statusShort = fixture.fixture.status.short;\nconst newPhase = phaseMap[statusShort];\nif (!newPhase) return []; // NS, TBD, CANC etc. — nichts tun\n\nreturn [{\n  json: {\n    fixture_id: fixture.fixture.id,\n    status_short: statusShort,\n    new_minute: fixture.fixture.status.elapsed ?? null,\n    new_minute_extra: fixture.fixture.status.extra ?? null,\n    new_phase: newPhase,\n    new_state: stateMap[statusShort] ?? null,\n  }\n}];"
      },
      "id": "7743c380-84fd-4a3d-9ed2-b03d13bb2cdd",
      "name": "Fixture aufbereiten1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, external_id, match_phase, match_state, ticker_mode FROM matches WHERE external_id = $1",
        "options": {
          "queryReplacement": "={{ [$json.fixture_id] }}"
        }
      },
      "id": "a6711cdf-b33f-498e-b57a-016f4a5f033b",
      "name": "SQL: Match laden1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [608, 0],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const db = $json;\nconst fixture = $('Fixture aufbereiten1').item.json;\n\nconst phaseChanged = fixture.new_phase !== db.match_phase;\n\nreturn [{\n  json: {\n    match_id: db.id,\n    fixture_id: fixture.fixture_id,\n    new_minute: fixture.new_minute,\n    new_minute_extra: fixture.new_minute_extra,\n    new_phase: fixture.new_phase,\n    new_state: fixture.new_state ?? db.match_state,\n    status_short: fixture.status_short,\n    old_phase: db.match_phase,\n    match_state: db.match_state,\n    ticker_mode: db.ticker_mode ?? 'coop',\n    phase_changed: phaseChanged,\n  }\n}];"
      },
      "id": "a3103e86-1149-4601-902b-2ec9dbfaf3a6",
      "name": "Vergleichen1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE matches SET minute = $1, minute_extra = $2, match_phase = $3, match_state = $4 WHERE id = $5",
        "options": {
          "queryReplacement": "={{ [$json.new_minute, $json.new_minute_extra, $json.new_phase, $json.new_state, $json.match_id] }}"
        }
      },
      "id": "9c6ff6f4-92d4-4ee0-91fd-d7b3c6b7d6b7",
      "name": "SQL: Minute + Phase updaten1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1008, 0],
      "credentials": {
        "postgres": {
          "id": "5VeE2cikA9rLeOKz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "phase-changed",
              "leftValue": "={{ $('Vergleichen1').item.json.phase_changed }}",
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a37e7705-516f-428a-bac9-763dbd772028",
      "name": "Phase geändert?1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/match-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fixture_id: $('Vergleichen1').item.json.fixture_id, status: $('Vergleichen1').item.json.status_short, minute: $('Vergleichen1').item.json.new_minute, ticker_mode: $('Vergleichen1').item.json.ticker_mode, new_phase: $('Vergleichen1').item.json.new_phase }) }}",
        "options": {}
      },
      "id": "efdb2444-8de4-4ab8-9867-83e1f87feb1f",
      "name": "Trigger match-status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1408, 0]
    }
  ],
  "connections": {
    "Webhook update-minute1": {
      "main": [
        [
          {
            "node": "GET Fixture1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Fixture1": {
      "main": [
        [
          {
            "node": "Fixture aufbereiten1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixture aufbereiten1": {
      "main": [
        [
          {
            "node": "SQL: Match laden1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Match laden1": {
      "main": [
        [
          {
            "node": "Vergleichen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vergleichen1": {
      "main": [
        [
          {
            "node": "SQL: Minute + Phase updaten1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Minute + Phase updaten1": {
      "main": [
        [
          {
            "node": "Phase geändert?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase geändert?1": {
      "main": [
        [
          {
            "node": "Trigger match-status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c812d7c91145a37daf0cb923fa307183fa91637fdbe8017dda5dce71e0f572b5"
  }
}
