n8n_demoAPP/Sync 04 _ Match Lineups (Post-Match).json
{
  "name": "Sync 04 | Match Lineups (Post-Match)",
  "nodes": [
    {
      "parameters": {
        "url": "https://partner-api.stackwork-01-test.tech/cms/v1/matches",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 52091AC14B524E59DEF531D0EA8F57EF0804D4CFADCF4A1A52CE842687D2D209-1"
            },
            {
              "name": "et-partner-id",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "030f929d-e1f2-4617-b59e-dca7c987fe14",
      "name": "HTTP: GET Matches From CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -976,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().flatMap(item =>\n  (item.json.items || [])\n    .filter(m => m.matchState === \"FullTime\")\n    .map(m => ({ json: { fixtureId: m.id } }))\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        288
      ],
      "id": "4bd89f26-0270-4b48-8783-8741f4b4f010",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://v3.football.api-sports.io/fixtures/lineups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fixture",
              "value": "=1388536"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        288
      ],
      "id": "c6ae15eb-36c2-482b-8a97-1030264678ad",
      "name": "HTTP: Get Match Lineups",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8TXlLPe7BeXnl0Ut",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const formationGrids = {\n  \"3-1-4-2\":   [[1], [5, 4, 6], [8], [2, 7, 11, 3], [9, 10]],\n  \"3-2-4-1\":   [[1], [6, 5, 4], [2, 3], [10, 7, 8, 11], [9]],\n  \"3-3-3-1\":   [[1], [6, 5, 4], [2, 8, 3], [10, 7, 11], [9]],\n  \"3-4-1-2\":   [[1], [6, 5, 4], [2, 7, 8, 3], [9], [10, 11]],\n  \"3-4-2-1\":   [[1], [6, 5, 4], [2, 7, 8, 3], [10, 11], [9]],\n  \"3-4-3\":     [[1], [6, 5, 4], [2, 7, 8, 3], [10, 9, 11]],\n  \"3-5-2\":     [[1], [6, 5, 4], [2, 7, 11, 8, 3], [10, 9]],\n  \"4-1-2-1-2\": [[1], [2, 5, 6, 3], [4], [7, 11], [8], [10, 9]],\n  \"4-1-3-2\":   [[1], [2, 5, 6, 3], [4], [7, 8, 11], [9, 10]],\n  \"4-1-4-1\":   [[1], [2, 5, 6, 3], [4], [7, 8, 10, 11], [9]],\n  \"4-2-3-1\":   [[1], [2, 5, 6, 3], [8, 4], [7, 10, 11], [9]],\n  \"4-3-3\":     [[1], [2, 5, 6, 3], [7, 4, 8], [10, 9, 11]],\n  \"4-4-2\":     [[1], [2, 5, 6, 3], [7, 4, 8, 11], [10, 9]],\n  \"4-5-1\":     [[1], [2, 5, 6, 3], [7, 4, 10, 8, 11], [9]],\n  \"5-3-2\":     [[1], [2, 6, 5, 4, 3], [7, 8, 11], [10, 9]],\n  \"5-4-1\":     [[1], [2, 6, 5, 4, 3], [7, 8, 10, 11], [9]],\n};\n\nconst positionMap = { \"G\": \"Goalkeeper\", \"D\": \"Defender\", \"M\": \"Midfielder\", \"F\": \"Forward\" };\nconst result = { teamHomeLineup: [], teamAwayLineup: [] };\nconst response = $input.all()[0].json.response;\n\nresponse.forEach((teamData, index) => {\n  const isHome = index === 0;\n  const targetArray = isHome ? result.teamHomeLineup : result.teamAwayLineup;\n  const formation = teamData.formation || \"4-4-2\";\n\n  teamData.startXI.forEach((p, i) => {\n    const gridStr = p.player.grid;\n    let formationPlace = i + 1;\n    let formationPosition = i + 1;\n\n    if (gridStr) {\n      const [row, col] = gridStr.split(':').map(Number);\n      const rows = formationGrids[formation] || formationGrids[\"4-4-2\"];\n      const rowArr = rows[row - 1] || [];\n      // Partner-API zählt Spalten von rechts nach links → umkehren\n      formationPlace = rowArr[rowArr.length - col] ?? (i + 1);\n      formationPosition = row;\n    }\n\n    targetArray.push({\n      playerId: p.player.id,\n      sport: \"Football\",\n      position: positionMap[p.player.pos] ?? \"Midfielder\",\n      jerseyNumber: p.player.number ?? null,\n      status: \"Start\",\n      formationPlace,\n      formationPosition,\n      numberOfGoals: 0,\n      hasYellowCard: false,\n      hasRedCard: false,\n      isSubstituted: false\n    });\n  });\n\n  teamData.substitutes.forEach((p) => {\n    targetArray.push({\n      playerId: p.player.id,\n      sport: \"Football\",\n      position: positionMap[p.player.pos] ?? \"Midfielder\",\n      jerseyNumber: p.player.number ?? null,\n      status: \"Sub\",\n      formationPlace: 0,\n      formationPosition: 0,\n      numberOfGoals: 0,\n      hasYellowCard: false,\n      hasRedCard: false,\n      isSubstituted: false\n    });\n  });\n});\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        288
      ],
      "id": "20ebc968-09e9-4059-a8c2-7c33ad99fa5a",
      "name": "JS: Map Lineups to CMS"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://partner-api.stackwork-01-test.tech/cms/v1/matches/{{ $node[\"HTTP: Get Match Lineups\"].json.parameters.fixture }}/lineup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 52091AC14B524E59DEF531D0EA8F57EF0804D4CFADCF4A1A52CE842687D2D209-1"
            },
            {
              "name": "et-partner-id",
              "value": "4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"teamHomeLineup\": {{ JSON.stringify($json.teamHomeLineup) }},\n  \"teamAwayLineup\": {{ JSON.stringify($json.teamAwayLineup) }}\n}",
        "options": {}
      },
      "id": "070b6c14-517e-4721-bcb9-c94fca0aef3f",
      "name": "HTTP: Put Match Lineup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        288
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP: GET Matches From CMS": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Match Lineups": {
      "main": [
        [
          {
            "node": "JS: Map Lineups to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Map Lineups to CMS": {
      "main": [
        [
          {
            "node": "HTTP: Put Match Lineup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5a376a73-c7b1-42b7-8e07-32c809442862",
  "meta": {
    "instanceId": "8f356ecf824174491100e48f7fade606f544a76873378b03e211127fbec11c97"
  },
  "id": "vZgUnTwQ4E5Ojkz4",
  "tags": []
}